/* STYLING FOR CLASSIFY PAGE */

form {
    background-color: #ddddddeb;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    font-family: Arial;
    padding: 2em;
    margin: 5em;
    border-radius: 0.4em;
}

.classify-content p {
    /*font-size: larger;*/
    font-size: 18px;
    word-spacing: 0em;
}


.matrix-table {
   margin: 0;
   font-size: 18px;
}

.matrix-table td {
    padding: 0.5em;
}

.classify-content {
    margin-bottom: 20.6em;
}

.classify-summary {
    text-align: left;
    margin-left: 36em;
    line-height: 1.2;
    word-spacing: 0.3em;
    font-family: Arial;
    font-size: 18px;
}

.cluster-content {
    margin-bottom: 31em;
}

.cluster-summary {
    text-align: left;
    margin-left: 30em;
    line-height: 1.2;
    word-spacing: 0.3em;
    font-family: Arial;
    font-size: 18px;
}

h2 {
    font-size: 31px;
    color: rgb(55, 41, 185);
}

.filter-content {
    margin-bottom: 38.4em;
}

.filter-summary {
    margin-bottom: 9.5em;
    margin-left: 30em;
}

.filter-summary h3 {
    font-size: 18px;
}

.filter-error {
    margin-bottom: 30.5em;
    color: red;
}

.filter-error h3 {
    font-size: larger;
}


